<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Download Zip</title>
  <link rel="stylesheet" href="/styles/public.css">
</head>
<body>
  <h1>Download Your Extracted Frames</h1>
  <p>Your frames have been successfully extracted and compressed into a zip file.</p>
  
  <!-- Correct download link -->
  <a href="<%= zipPath %>" download>Download Zip</a>
  
  <br><br>
  <a href="/">Back to Upload</a>
</body>
</html>
